/*TO DO
    https://mssg.me/ru?ref=telegram_mediadepression
*/

                    /*GENERAL CSS*/
                    
@font-face {
    font-family: "Big Noodle Titling";
    src: url(fonts/big_noodle_titling.ttf); 
}

body {
    font-family: "Big Noodle Titling", Arial, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


                    /*HEADER*/
                    
.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    z-index: 10;
    background-color: #f8f6f6;
    padding: 0 6%;
    box-sizing: border-box;
}

.header-get-in-touch {
    background-color: #171f23;
}

.get-in-touch-hamburger {
    filter: invert();
}

.Get-In_Touch-navigationMenu__ul_item a{
    color: #171f23;
    filter: invert();
}

.Get-In_Touch-navigationMenu__ul_item a:hover {
    color: red;
    border-bottom: 1px solid #f6744b;
}



.header-logo {
    width: 310px;
}

.header-logo__text a {
    font-size: 40px;
    color: #464646;
    transition: all 0.5s;
    filter: invert();
}

.header-logo__text a:hover {
    color: #f36134;
}

@media screen and (max-width : 430px) {
    .header-logo__text a {
        font-size: 26px;;
    }
}

@media screen and (min-width : 1025px) {
    .hamburger {
        display:none;
    }
}

@media screen and (max-width : 1024px) {
    .navigationMenu {
        display:none;
    }
}

.navigationMenu {
    flex: 1;   
}

.navigationMenu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigationMenu__ul {
    list-style-type: none;
}

.navigationMenu__ul_item {
    min-width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;
    margin: 0 5px;
    cursor: pointer;
    letter-spacing: 4px;
}

.navigationMenu__ul_item a {
    color: #353535;
    transition: all 0.5s;
}

.navigationMenu__ul_item a:hover {
    color: #f36134;
    border-bottom: 1px solid #f6744b;
}

                    /*Hamburger*/

.hamburger{
  transition: all 0.3s ease-in-out;
  position: relative;
}

.hamburger__line {
    width: 40px;
    height: 3px;
    background-color: #464646;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
}

 .hamburger:hover{
  cursor: pointer;
}
                    /*Hamburger animation*/
                    
@keyframes smallbig {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}

.hamburger.is-active{
  animation: smallbig 0.6s;
}

.hamburger.is-active .hamburger__line:nth-child(1),
.hamburger.is-active .hamburger__line:nth-child(2),
.hamburger.is-active .hamburger__line:nth-child(3){
  transition-delay: 0.2s;
}

.hamburger.is-active .hamburger__line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .hamburger__line:nth-child(1){
  transform: translateY(5px) rotate(45deg);
}

.hamburger.is-active .hamburger__line:nth-child(3){
  transform: translateY(-14px) rotate(-45deg);
}

.hamburger__navigation {
    display: none;
    list-style-type: none;
    font-size: 20pt;
    line-height: 48px;
    color: #d6d5d5;
}

.hamburger.is-active .hamburger__navigation {
    position: absolute;
    right: 0;
    display: block;
}

                    /*Hamburger list-item animation*/
                    
.hamburger__navigation {
    top: 10px;
    padding: 0;
}
                    
.hamburger__navigation_item {
    background: linear-gradient(#292929, #353535);
    border-bottom: 2px solid #181818; 
    border-top: 2px solid #303030; 
    min-width: 160px;
    text-align: center;
    padding: 0 50px;
  
}

.hamburger__navigation_item a {
    color: #d6d5d5;
    transition: all 0.5s;
}

.hamburger__navigation_item a:hover {
    color: #f36134;
}

                    /*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f8f6f6;
    padding: 0 6%;
    font-size: 20px;
}

.footer-get-in-touch,
.footer-hobbies {
    background-color: #171f23;
}

.footer__logos_img {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: all 1s;
}

.footer__logos_img:hover {
    transform: scale(1.2);
}


                    /*HOME PAGE*/
                    
                    
.main-page {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d6d5d5;
    flex: 1
}

.main-page__heading {
    padding-top: 110px;
    margin-bottom: 0;
    font-size: 72pt;
    font-weight: normal;
}

.main-page__text {
    font-size: 25pt;
    line-height: 48px;
}

                    /*First Section*/
                    
.sections-container__section-first {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

@media screen and (max-width : 768px) {
    .sections-container__section-first_heading {
        font-size: 1.6em;
    }
}

.text-block__heading {
    font-size: 48pt;
    color: #f6f6f6;
    margin: 0;
    text-align: center;
}

.sections-container__section-first_text {
    font-size: 14pt;
    color: #c1c1c1;
    margin: 20px 0;
    text-align: center;
}

                    /*PROJECTS*/
                    
.proectsContentContainer {
    height: 500px;
}

                    /*EXPERIENCE*/
                    
.sections-container {
    display: flex;
    flex-direction: column;
    padding: 0 6%;
}
                    
.rel-work-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rel-work-experience__companies {
    max-width: 325px;
    background-color: #ebebeb;
    margin: 10px;
    text-align: center;
    outline: 1px solid black;
}

.rel-work-experience__companies-name {
    display: block;
    padding: 5px;
    border-bottom: 1px solid black;
}

.rel-work-experience__companies_img {
    width: calc(100% - 30px);
    height: 151px;
    margin: 15px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 1s;
}

.rel-work-experience__companies_img:hover {
    filter: none;
}


.sections-container__section-second {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width : 1024px) {
    .sections-container__section-second {
        flex-direction: column;
    }
}

.section_column {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

@media screen and (max-width : 1024px) {
    .section_column {
        width: 100%;
    }
}

.section_column--dark {
    background-color: #171f23;
}

.section_column--light {
    background-color: #575c5f;
}


.section_column ul {
    font-size: 14pt;
    color: #c1c1c1;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.section_column span {
    font-size: 23pt;
}


                    /*GET IN TOUCH*/
                    
.getInTouchContent {
    flex: 1 0 auto;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}                    
.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.get-in-touch_heading {
    font-size: 48pt;
    color: #3d3d3d;
    padding-top: 60px;
}

.get-in-touch_heading {
    margin: 0;
}

.get-in-touch_text {
    font-size: 14pt;
    color: #c1c1c1;
    margin: 20px 0;
    text-align: center;
}

.messageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.messageForm__row {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messageForm__row:first-child {
    padding: 0;
}

@media screen and (max-width : 768px) {
    .messageForm__row {
        flex-direction: column;
    }
}

.messageForm__nameMailContainer_input {
    border: none;
    outline: none;
    border-bottom: 1px solid #cacaca;
    width: 100%;
}

.messageForm__textAreaComtainer_textareaInput {
    border: none;
    border-bottom: 1px solid #cacaca;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    display: block;
}

.messageForm__nameAndMailContainer_column {
    width: 48%;
    display: flex;
    padding: 15px 0;
}

@media screen and (max-width : 768px) {
    .messageForm__nameAndMailContainer_column {
        width: 100%;
    }
}

.messageForm__nameMailContainer_label {
    width: 100%
}
.messageForm__nameMailContainer_nameText {
    font-size: 15pt;
}

.messageForm__nameMailContainer_Asterix,
.messageForm__nameMailContainer_Asterix {
    color: #f6744b;
}

#sendMessageButton {
   width: 205px;
   height: 55px;
   background-color: #f6744b;
   color: #ffffff;
   font-size: 14pt;
   margin: 60px 0;
   border: none;
   outline: beige;
}

@media screen and (max-width : 768px) {
    #sendMessageButton {
        margin: 20px 0;
    }
}

#sendMessageButton:hover {
    cursor: pointer;
}

.footer__logos-GetInTouch {
    filter: invert();
}

.footer__text-GetInTouch {
    color: #dfdfe0;
}


                    /*HOBBIES*/
                    
.hobbies-block-container {
    flex: 1 0 auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171f23;
}

.text-block__heading {
    padding-bottom: 55px;
}

.content-block {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 600px;
    margin-bottom: 105px;
}

.content-block__column {
    height: 100%;
    width: 25%;
}

.content-block__column:hover {
    outline: 1px solid #f6744b;
}

.content-block__column_hobby-name-block {

   height: 25%;
   background-color: #0e1316;
   font-size: 20pt;
   color: #ffffff;
}

.content-block__column_hobby-description-block {
    height: 50%;
    background-color: #414547;
}

.content-block__column_hobby-button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: #414547;
}

#getToWebpageButton {
   width: 125px;
   height: 35px;
   border-radius: 3px;
   background-color: #f6744b;
   font-size: 14pt;
   border: none;
   outline: beige;
}

#getToWebpageButton a {
   color: #ffffff; 
}

.footer-hobbies {
    background-color: #ffffff;
}

.hobbies-section {
    background: #171f23;
    padding-top: 200px;
}

.hobbies {
    display: flex;
    max-width: 935px;
    margin: 0 auto 105px;
    min-height: 450px;
    flex-wrap: wrap;
}

.hobby {
    background: #1f282c;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: calc(25% - 2px);
    position: relative;
    transition: all .3s ease-in;
    border: 1px solid transparent;
    background-clip: padding-box;
}

.hobby:hover {
    border-color: #f6744b;
    transform: translate3d(1px, 1px, 0) translate3d(-1px, -1px, 0);
}

@media screen and (max-width : 768px) {
    .hobby {
        width: calc(50% - 2px);
    }
}

@media screen and (max-width : 600px) {
    .hobby {
        width: 100%;
    }
}

.hobby__head {
    background: #0e1316;
    text-align: center;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hobby__name {
    font-size: 20pt;
}

.hobby__body {
    flex: 1;
    text-align: center;
    padding: 40px 20px;
}

.hobby__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hobby__list li {
    font-size: 14pt;
    margin-bottom: 15px;
}

.hobby__list li b {
    color: #f6744b;
}

.hobby__foot {
    height: 80px;
    text-align: center;
}

.btn-link {
    display: inline-block;
    min-width: 125px;
    height: 35px;
    border-radius: 3px;
    background-color: #f6744b;
    font-size: 14pt;
    border: none;
    outline: none;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
    transition: background .3s ease-in;
}

.btn-link:hover {
    background-color: #fc5a28;
}